In [11]:
num_int = 7
num_int

7

In [12]:
type(num_int)

int

In [13]:
num_str = '7'
num_str

'7'

In [14]:
type(num_str)

str

In [15]:
# num_sum = num_int + num_str     # TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### converting str to int

In [16]:
# converting num_str string to int
num_str_conv = int(num_str)
num_str_conv

7

In [17]:
num_sum = num_int + num_str_conv
num_sum

14

In [21]:
type(num_sum)

int

In [19]:
list_type = [1, 2, 3]
list_type

[1, 2, 3]

In [20]:
type(list_type)

list

##### converting list to Tuple

In [22]:
tuple1 = tuple(list_type)
tuple1

(1, 2, 3)

In [23]:
type(tuple1)

tuple

##### converting list to set

In [24]:
list_type1 = [1,2,3,3,2,1,1,2,3]
list_type1

[1, 2, 3, 3, 2, 1, 1, 2, 3]

In [28]:
set1 = set(list_type1)
set1                          # it takes Uniq values in the list and converts into set.

                            # and fundamentally changes the data in original list

{1, 2, 3}

In [27]:
type(set1)

set

##### converting dict to list

In [29]:
dict1 = {'name':'chetan', 'age':'25', 'gender':'male'}
dict1

{'name': 'chetan', 'age': '25', 'gender': 'male'}

In [30]:
type(dict1)

dict

In [31]:
dict1.values()

dict_values(['chetan', '25', 'male'])

In [32]:
dict1.keys()

dict_keys(['name', 'age', 'gender'])

In [33]:
dict1.items()

dict_items([('name', 'chetan'), ('age', '25'), ('gender', 'male')])

In [34]:
# converting dict_keys to list
list(dict1.keys())

['name', 'age', 'gender']

In [35]:
type(list(dict1.keys()))

list

In [36]:
# converting dict_values to list
list(dict1.values())

['chetan', '25', 'male']

In [37]:
type(# converting dict_values to list
list(dict1.values()))

list

In [38]:
# converting dict_values to list
list(dict1.items())

[('name', 'chetan'), ('age', '25'), ('gender', 'male')]

In [39]:
type(list(dict1.items()))

list

#### Converting longer strings into set, list

In [40]:
long_str = 'I like party'
long_str

'I like party'

In [41]:
list(long_str)

['I', ' ', 'l', 'i', 'k', 'e', ' ', 'p', 'a', 'r', 't', 'y']

In [43]:
set(long_str)                     # it take unique values

{' ', 'I', 'a', 'e', 'i', 'k', 'l', 'p', 'r', 't', 'y'}