#### shorcut key for comments:  Control + /  (forward slash)

In [1]:
userInput = input('enter any number: ')

print('user entered input is' , userInput)

print("Type of input: ", type(userInput))

enter any number: 99
user entered input is 99
Type of input:  <class 'str'>

###### The input() always returns 'str' only in python in 3.9

In [2]:
userInput = input('enter any number: ')

print('user entered input is' , userInput)

print("Type of input: ", type(userInput))

enter any number: 88
user entered input is 88
Type of input:  <class 'str'>

###### converting integer from str which is returned from input()

In [3]:
userInput = int(input("Enter any number: "))
type(userInput)

Enter any number: 123

int

In [4]:
if userInput > 10:
    print("Number is greater than 10.")
else:
    print("Number is less than 10")

Number is greater than 10.

# for loop:

In [5]:
 r = range(5,50,10)
for item in r:
    print(item)

5
15
25
35
45

In [6]:
websites = ["amazon", "flipkart","paytm"]


#www.amazon.com
#www.flipkart.com
#www.paytm.com

In [7]:
for item in websites:
    print("www."+item+".com")            #String concatenate

www.amazon.com
www.flipkart.com
www.paytm.com

### Nested for loop

In [8]:
websites = ["amazon", "flipkart","paytm"]
extensions = ["org","com","in"]


#www.amazon.org
#www.flipkart.com
#www.paytm.in

In [9]:
for item in websites:
    for ext in extensions:
        print("www."+item+"."+ext)

www.amazon.org
www.amazon.com
www.amazon.in
www.flipkart.org
www.flipkart.com
www.flipkart.in
www.paytm.org
www.paytm.com
www.paytm.in

In while loop, the value remains same, untill we increment value.

In for loop, the value is incremented automatically

#### enumerate function
            it gives two values index,item

In [10]:
languages = ["c","c++","python","java","perl"]

In [11]:
for index,item in enumerate(languages):
    print(index,item)

0 c
1 c++
2 python
3 java
4 perl

In [12]:
for type(languages),item in enumerate(languages):
    print(type(languages), item)

SyntaxError: cannot assign to function call (2655161553.py, line 1)

In [13]:
for index,item in enumerate(languages):
    print(type(item), item)

<class 'str'> c
<class 'str'> c++
<class 'str'> python
<class 'str'> java
<class 'str'> perl

In [16]:
for element in enumerate(languages):
    print(element)                                   #it returns values in tuples

(0, 'c')
(1, 'c++')
(2, 'python')
(3, 'java')
(4, 'perl')

In [17]:
for item in range(11):
    print(item)

0
1
2
3
4
5
6
7
8
9
10

In [22]:
n=int(input("Enter the range till which you want to iterate: "))

Enter the range till which you want to iterate: 10

In [23]:
for item in range(n+1):
    print(item)

0
1
2
3
4
5
6
7
8
9
10

In [24]:
for item in range(n):
    print(item)

0
1
2
3
4
5
6
7
8
9

In [27]:
n = int(input("enter the range till you want to iterate: "))

for item in range(1,n+1,3):
    print(item)

enter the range till you want to iterate: 10
1
4
7
10

### for with continue

In [28]:
for item in range(11):
    if item % 2 == 0:
        continue
    print(item)

1
3
5
7
9

In [31]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [33]:
# Write a program to printbelow pattern

# *
# * * 
# * * *
# * * * *
# * * * * *
# * * * * * *

In [37]:
for item in range(1,7,1):
    print("* "*item)                  # s="* "
                                      # s*3= * * *

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [44]:
# above solution using while loop

i=1
while i<7:
    print("* "*i)
    i+= 1

*
* *
* * *
* * * *
* * * * *
* * * * * *