# Range
               
            Range is also an Data type

            range(start point, stop point, step count)
            
            end point while printing it take as (n-1)
            
            by default step count is 1 
            
            it won't allocate memory

In [1]:
r=range(0,10)

In [2]:
r

range(0, 10)

In [3]:
type(r)

range

In [4]:
list(r)                           #creating List of Range
                                                #by default step count is 1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
type(r)

range

In [6]:
tuple(r)                       #creating Tuple of Range

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
type(r)

range

In [8]:
set(r)                      #creating Set of Range

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
dict(r)         #Error:cannot convert dictionary update sequence element #0 to a sequence

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [10]:
x=range('a','f')             #'str' object cannot be interpreted as an integer

TypeError: 'str' object cannot be interpreted as an integer

In [11]:
str(r)

'range(0, 10)'

In [12]:
type(r)

range

###### range and xrange:

In Python 2.7
        range : always used to create LIST
        
        xrange: creates a Range
        
range in Python 3.x is actually xrange in Python 2.7

In [13]:
r1=range(3,10)

In [14]:
r1

range(3, 10)

In [15]:
type(r1)

range

In [16]:
list(r1)                           #end point=n-1

[3, 4, 5, 6, 7, 8, 9]

### step count

In [17]:
r2 = range(5,51,5)

In [18]:
r2

range(5, 51, 5)

In [19]:
list(r2)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [20]:
r3 = range(10,-6,2)            # 10+2=12...it goes on inctresing, we will not get our end point, so empty list

In [21]:
list(r3)

[]

In [22]:
r4 = range(10,-6,-2)          # 10-2=8................,(-6-(-2)=-4)

In [23]:
list(r4)

[10, 8, 6, 4, 2, 0, -2, -4]

In [24]:
r5=range(10,0,-1)

In [25]:
list(r5)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### Slicing in range()

In [26]:
range(3)        #range(3)=0,1,2

range(0, 3)

In [27]:
range(3)[2]

2

In [28]:
range(3)[3]

IndexError: range object index out of range

In [29]:
range(3)[-1]

2

In [30]:
list(range(3))

[0, 1, 2]

In [31]:
range(11)[2:5]

range(2, 5)

In [32]:
list(range(11)[2:5])

[2, 3, 4]

In [33]:
tuple(range(11)[2:5])

(2, 3, 4)

In [34]:
set(range(11)[2:5])

{2, 3, 4}

In [35]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### step count as decimal
                not decimal in range, but in Numpy we can use it

In [36]:
c=range(0,10,0.5)

TypeError: 'float' object cannot be interpreted as an integer

In [37]:
c = range(0,10.5,2)         #range is not working with decimal numbers

TypeError: 'float' object cannot be interpreted as an integer

##### range always works with numbers, not with CSV file