# Sets

        Unique collection of items, duplicates elements are not allowed
        
        Unorderd
        
        {}

In [1]:
s={}            #Empty set

In [ ]:
s

In [3]:
type(s)

dict

In [4]:
Q = "BANGALORE"
type(Q)

str

In [5]:
len(Q)

9

Converting String to Set

In [6]:
Q = set("BANGALORE")

In [7]:
type(Q)

set

In [8]:
Q                             #Alphabetical Ordered

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [9]:
len(Q)                  # A is repeated 2 times

8

In [10]:
print(Q)                        #while printing it will take any order to print bcz set is an unorder

{'B', 'R', 'A', 'E', 'O', 'N', 'G', 'L'}

In [11]:
b=set("Singapore")

In [12]:
b                   #it will check iteratively,if any repeated letters it only counts one time

{'S', 'a', 'e', 'g', 'i', 'n', 'o', 'p', 'r'}

In [13]:
b=set("SINGAPORE")

In [14]:
b

{'A', 'E', 'G', 'I', 'N', 'O', 'P', 'R', 'S'}

In [15]:
len(b)

9

The elements of set must be Iterable

In [16]:
d=set(123456)                       #integers are not iterable

TypeError: 'int' object is not iterable

In [17]:
d=set("123456")

In [18]:
d

{'1', '2', '3', '4', '5', '6'}

In [19]:
type(d)

set

#### difference between Sets and Dictionaries?

#### Dictionary and Sets are Unordered.


#### List,Tuple,Strings are Ordered.

In [20]:
d=set(['viru','rohi',1,2,3,4])               #converting list into set

In [21]:
d

{1, 2, 3, 4, 'rohi', 'viru'}

### in operator

In [22]:
'r' in d

False

In [23]:
'rohi' in d

True

In [24]:
'viru' not in d

False

In [25]:
'viru' in d

True

In [26]:
d

{1, 2, 3, 4, 'rohi', 'viru'}

'set' object is not subscriptable

we can't accessed set elements by index, bcz its Unordered.

In [27]:
d[0]

TypeError: 'set' object is not subscriptable

### a | b             (union)

In [28]:
a={'A','B','E','G','L','N','O','R'}

In [29]:
a

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [30]:
b={'A','E','G','I','N','O','P','R','S'}

In [31]:
b

{'A', 'E', 'G', 'I', 'N', 'O', 'P', 'R', 'S'}

In [32]:
print("a | b :",a | b)

a | b : {'B', 'R', 'A', 'E', 'P', 'O', 'N', 'I', 'G', 'S', 'L'}

In [33]:
len(a | b)

11

### a & b      (Intersection)

In [34]:
print('a & b :', a & b)

a & b : {'R', 'A', 'E', 'O', 'N', 'G'}

### a - b

In [35]:
a-b

{'B', 'L'}

### b - a

In [36]:
b - a

{'I', 'P', 'S'}

###### The elements which are not common

In [37]:
(a | b) - (a & b)

{'B', 'I', 'L', 'P', 'S'}

In [38]:
a + b                   # unsupported operand type(s) for +: 'set' and 'set'

TypeError: unsupported operand type(s) for +: 'set' and 'set'

operations on Sets

## add()

In [39]:
a

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [40]:
a.add('NEW')

In [41]:
a

{'A', 'B', 'E', 'G', 'L', 'N', 'NEW', 'O', 'R'}

## remove()

In [42]:
a.remove('NEW')

In [43]:
a

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [44]:
a.remove('cap')                            #there is no element 'cap' in set

KeyError: 'cap'

### discard()
                   Remove an element from a set if it is a member.

                   If the element is not a member, do nothing.

In [45]:
a.discard('cap')

In [46]:
a

{'A', 'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [47]:
a.discard('A')

In [48]:
a

{'B', 'E', 'G', 'L', 'N', 'O', 'R'}

## clear()           
                    Remove all elements from this set.
                    once set deleted, we can't undo

In [49]:
a

{'B', 'E', 'G', 'L', 'N', 'O', 'R'}

In [50]:
a.clear()

In [51]:
a

set()

###### converting string to set

In [52]:
myset = set("NEW")      #While converting Set, it separates out and makes iterative

In [58]:
myset

{'E', 'N', 'W'}

In [59]:
g="goat"

In [60]:
h=set(g)

In [61]:
h

{'a', 'g', 'o', 't'}

### update()
                Update a set with the union of itself and others.

In [62]:
a

set()

In [63]:
c = {'a','e','i','o','u'}

In [64]:
a.update(c)

In [65]:
c

{'a', 'e', 'i', 'o', 'u'}

In [66]:
a.clear()

In [67]:
a

set()

In [68]:
a.add(1234)        #adding integer

In [69]:
a

{1234}

In [70]:
t=(100,200,300)        #adding Tuple

In [71]:
a.add(t)

In [72]:
a

{(100, 200, 300), 1234}

In [73]:
len(a)

2

In [74]:
q=123.456

In [75]:
a.add(q)

In [76]:
a

{(100, 200, 300), 123.456, 1234}

In [77]:
c='cap'                #adding String     # while adding it takes as one

In [78]:
a.add(c)

In [79]:
a

{(100, 200, 300), 123.456, 1234, 'cap'}

In [81]:
m=['a','b','c']            #adding List but its shows error bcz sets are unordered and list are ordered

In [82]:
a.add(m)

TypeError: unhashable type: 'list'

In [83]:
n={'X':'apple','Y':'banana'}

In [84]:
a.add(n)

TypeError: unhashable type: 'dict'

In [85]:
a

{(100, 200, 300), 123.456, 1234, 'cap'}

In [86]:
a.update(m)

In [87]:
a

{(100, 200, 300), 123.456, 1234, 'a', 'b', 'c', 'cap'}

In [88]:
a.update(n)              #only jeys updated

In [89]:
a

{(100, 200, 300), 123.456, 1234, 'X', 'Y', 'a', 'b', 'c', 'cap'}

In [92]:
len(a)

9

While adding, List and Dictionaries to set , it shows error "Unhashable type"

While Updating, List and dictionaries to set, it get updated

other Sets Operation:
    
    copy
    
    difference
    
    difference_update
    
    intersection,intersection_update
    
    intersection_update
    
    isdisjoint
    
    issubset
    
    issuperset
    
    pop
    
    symmetric_difference
    
    symmetric_difference_update
    
    union